<footer class="footer">
    <div class="footer_content">
        <div class="container">
            <div class="row">

                <!-- About -->
                <div class="col-lg-4 footer_col">
                    <div class="footer_about">
                        <div class="footer_logo">
                            <a href="#">
                                <div class="d-flex flex-row align-items-center justify-content-start">
                                    <div class="footer_logo_icon"><img src="~/Content/images/logo_2.png" alt=""></div>
                                    <div>EOA E-Ticaret</div>
                                </div>
                            </a>
                        </div>
                        <div class="footer_about_text">
                            <p>Biz firma olarak hizmet vermekten gurur ve mutluluk duyuyoruz...</p>
                        </div>
                    </div>
                </div>

                <!-- Footer Links -->
                <div class="col-lg-4 footer_col">
                    <div class="footer_menu">
                        <div class="footer_title">Destek</div>
                        <ul class="footer_list">
                            <li>
                                <a href="#"><div>Müşteri Servisi<div class="footer_tag_1">ONLINE</div></div></a>
                            </li>
                            <li>
                                <a href="#"><div>ihlal Bildirisi</div></a>
                            </li>
                            <li>
                                <a href="#"><div>Hakkımızda<div class="footer_tag_2">OKUYUN</div></div></a>
                            </li>
                            <li>
                                <a href="#"><div>Hak ve Kurallar</div></a>
                            </li>
                            <li>
                                <a href="#"><div>İletişim</div></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Footer Contact -->
                <div class="col-lg-4 footer_col">
                    <div class="footer_contact">
                        <div class="footer_title">Takipte Kalın</div>
                        <div class="newsletter">
                            <form action="#" id="newsletter_form" class="newsletter_form">
                                <input type="email" class="newsletter_input" placeholder="Makalelerimize Abone Olun" required="required">
                                <button class="newsletter_button">+</button>
                            </form>
                        </div>
                        <div class="footer_social">
                            <div class="footer_title">Sosyal</div>
                            <ul class="footer_social_list d-flex flex-row align-items-start justify-content-start">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer_bar_content d-flex flex-md-row flex-column align-items-center justify-content-start">
                        <div class="copyright order-md-1 order-2">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <nav class="footer_nav ml-md-auto order-md-2 order-1">
                            <ul class="d-flex flex-row align-items-center justify-content-start">
                                <li><a href="category.html">Kadın</a></li>
                                <li><a href="category.html">Erkek</a></li>
                                <li><a href="category.html">Çocuk</a></li>
                                <li><a href="category.html">Ev Dekorasyon</a></li>
                                <li><a href="#">İletişim</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>