@{
    db_EOAEntities1 db = new db_EOAEntities1();
    var cat = db.tblKategori;
}
@using EOATicaret.Models;
<div class="menu">

    <!-- Search -->
    <div class="menu_search">
        <form action="/Search" id="header_search_form" method="get">
            <input type="text" class="search_input" placeholder="Arama Yapın" name="aranan" required="required">
            <button class="menu_search_button"><img src="~/Content/images/search.png" alt=""></button>
        </form>
    </div>
    <!-- Navigation -->
    <div class="menu_nav">
        <ul>
            <li class="active">

                <a href="#">Kategoriler</a>

                <a class="dropdown-item" href="/Category/">TÜMÜ</a>
                @foreach (var kat in cat)
                {
                    <a class="dropdown-item" href="/Category/?kategoriID=@kat.kategoriID">@kat.kategoriAdi</a>

                }

            </li>
            <li style="justify-content:center"><a href="#">Biz Kimiz</a></li>
            <li><a href="#">İletişim</a></li>
        </ul>
    </div>
    <!-- Contact Info -->
    <!--<div class="menu_contact">
            <div class="menu_phone d-flex flex-row align-items-center justify-content-start">
                <div><div><img src="~/Content/images/phone.svg" /></div></div>
                <div>+90 (555) 555 55 55</div>
            </div>
             <div class="menu_social">
                <ul class="menu_social_list d-flex flex-row align-items-start justify-content-start">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
    </div>-->
</div>
