@using EOATicaret.Models;
@model List<tblUrunler>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";

     ViewBag.Title = "Kategori | " + (string)ViewBag.Kategori;
   

}

<link rel="stylesheet" type="text/css" href="~/Content/styles/category.css">
<link rel="stylesheet" type="text/css" href="~/Content/styles/category_responsive.css">

<!-- Home -->

<div class="home">
    <div class="home_container d-flex flex-column align-items-center justify-content-end">
        <div class="home_content text-center">
            <div class="home_title">@ViewBag.Title</div>
            <div class="breadcrumbs d-flex flex-column align-items-center justify-content-center">
                <ul class="d-flex flex-row align-items-start justify-content-start text-center"></ul>
            </div>
        </div>
    </div>
</div>

<!-- Products -->

<div class="products">
    <div class="container">
        <div class="row products_row products_container">

            <!-- Product -->
            @foreach (var urun in Model)
            {
                <div class="col-xl-4 col-md-6">
                    <a href=@Url.Action("Detail", "Product", new { id = urun.urunID })>
                        <div class="product">
                            <div class="product_image"><center><img src="~/@urun.urunDetayResim" width="255" height="255" /></center></div>
                            <div class="product_content">
                                <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                    <div>
                                        <div>
                                            <div class="product_name"><a href="product.html">@urun.urunAdi</a></div>
                                            <div class="product_category">Şu <a href="/Category/?kategoriID=@urun.tblKategori.kategoriID">Kategoride @urun.tblKategori.kategoriAdi</a></div>
                                        </div>
                                    </div>
                                    <div class="ml-auto text-right">
                                        <div class="rating_r rating_r_4 home_item_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                        <div class="product_price text-right">₺@urun.urunDetayFiyat<span></span></div>
                                    </div>
                                </div>
                                <div class="product_buttons">
                                    <div class="text-right d-flex flex-row align-items-start justify-content-start">
                                        <!-- Favori Buttonu -->
                                        <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                                            <div><div><img src="~/Content/images/heart_2.svg" class="svg" alt=""><div>+</div></div></div>
                                        </div>
                                        <!-- Sepete Ekle Buttonu -->
                                        <div id="sepetButonu" class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                                            <div><div><a href=@Url.Action("AddToCart", "Cart", new { id = urun.urunID })><img src="~/Content/images/cart.svg" class="svg" alt=""></a><div>+</div></div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            }

        </div>

    </div>
</div>